.app {
}
.loginScreen__or > h2 {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 200;
  color: gray;
  margin: 15px 0;
}
.loginScreen__or > h2:before,
.loginScreen__or > h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid gray;
  margin: auto;
}
.loginScreen__or > h2:before {
  margin-right: 5px;
}
.loginScreen__or > h2:after {
  margin-left: 5px;
}
